#left, #right, #middle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

#left {
  width: 200px;
  right: auto;
  border-right: 1px solid #999;
}

#right {
  width: 200px;
  left: auto;
  border-left: 1px solid #999;
}

#middle {
  left: inherit;
  right: inherit;
}